{
  "openapi": "3.0.0",
  "info": {
    "title": "Gemini 2.0 Flash 图像生成",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://generativelanguage.googleapis.com/v1beta"
    }
  ],
  "paths": {
    "/models/gemini-2.0-flash-exp:generateContent": {
      "post": {
        "summary": "生成图像",
        "operationId": "generateImage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "API 响应的原始结构 (用于调试)"
                "properties": {
                  "contents": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "parts": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "text": {
                                "type": "string",
                                "description": "描述图像的文本提示词"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "generationConfig": {
                    "type": "object",
                    "properties": {
                      "responseModalities": {
                        "type": "array",
                        "items": { "type": "string" },
                        "description": "响应模态，例如 ['Text', 'Image']"
                      }
                    }
                  }
                },
                "required": ["contents"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "candidates": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "content": {
                            "type": "object",
                            "properties": {
                              "parts": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "inlineData": {
                                      "type": "object",
                                      "properties": {
                                        "data": {
                                          "type": "string",
                                          "description": "Base64 编码的图像数据"
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "key",
        "in": "query"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}
